.listaDeProductos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.listaDeProductos .producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 30rem;
}
.listaDeProductos .producto img {
  height: 20rem;
  width: 100%;
}
.listaDeProductos .producto button {
  background-color: blue;
  color: white;
  border: solid white;
  border-radius: 10px;
}
.listaDeProductos .producto button:hover {
  background-color: white;
  color: blue;
  border: solid blue;
}
.descripcionDelProducto {
  border: solid black;
  background-color: rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: 35%;
}
.descripcionDelProducto img {
  width: 100%;
  height: 25rem;
}
.signoDeCarga {
  width: 15rem;
  height: 15rem;
  margin-left: 42%;
}
.modificadorDeCantidad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.modificadorDeCantidad .sumarORestarProducto button {
  background-color: rgb(48, 48, 255);
  color: white;
  border-radius: 5px;
}
.modificadorDeCantidad .sumarORestarProducto button:hover {
  background-color: white;
  color: rgb(48, 48, 255);
}
.modificadorDeCantidad .irAlCarrito {
  width: 15rem;
  border-radius: 10px;
  background-color: rgb(48, 48, 255);
  color: white;
}
.modificadorDeCantidad .irAlCarrito:hover {
  background-color: white;
  color: rgb(48, 48, 255);
}
